{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
<link rel="preload" as="style" href="{{ 'component-slider.css' | asset_url }}">
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
.article-template .article_header_info::after {
  background: rgba(var(--color-background),{{ section.settings.overlay_opacity | divided_by: 100.0 }});
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
}
{%- endstyle -%}
<article class="article-template section-{{ section.id }}-padding " itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="block_wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div class="page-width">
              {% render block %}
            </div>
          {%- when 'featured_image' -%}
            <div class="secondary-bg-spacing color-{{ section.settings.color_scheme }} article_content" {{ block.shopify_attributes }}>
              <div class="article_header_wrapper">
              {% if block.settings.article_img != blank or article.image != blank %}
                <div class="article-template__hero-{{ block.settings.image_height }} media global-media-settings" itemprop="image"{% if block.settings.image_height == 'adapt' and article.image %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif %}>
                  {% if block.settings.article_img != blank %}
                  <img srcset="
                    {% if block.settings.article_img.width >= 350 %}{{ block.settings.article_img | image_url: width: 350 }} 350w,{% endif %}
                    {% if block.settings.article_img.width >= 750 %}{{ block.settings.article_img | image_url: width: 750 }} 750w,{% endif %}
                    {% if block.settings.article_img.width >= 1100 %}{{ block.settings.article_img | image_url: width: 1100 }} 1100w,{% endif %}
                    {% if block.settings.article_img.width >= 1500 %}{{ block.settings.article_img | image_url: width: 1500 }} 1500w,{% endif %}
                    {% if block.settings.article_img.width >= 2200 %}{{ block.settings.article_img | image_url: width: 2200 }} 2200w,{% endif %}
                    {% if block.settings.article_img.width >= 3000 %}{{ block.settings.article_img | image_url: width: 3000 }} 3000w,{% endif %}
                    {{ block.settings.article_img | image_url }} {{ block.settings.article_img.width }}w
                    "sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 768px) calc(100vw - 10rem), 100vw" src="{{ block.settings.article_img | image_url: width: 1100 }}" loading="eager" fetchpriority="high" width="{{ block.settings.article_img.width }}" height="{{ block.settings.article_img.height }}" alt="{{ block.settings.article_img.alt | escape }}">
                    {% else %}
                  <img srcset=" 
                    {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                    {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                    {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                    {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                    {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                    {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                    {{ article.image | image_url }} {{ article.image.width }}w
                    "sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 768px) calc(100vw - 10rem), 100vw" src="{{ article.image | image_url: width: 1100 }}" loading="eager" fetchpriority="high" width="{{ article.image.width }}" height="{{ article.image.height }}" alt="{{ article.image.alt | escape }}">
                  {% endif %}
                </div>
              {% endif %}
              <div class="article_header_info{% unless block.settings.article_img != blank or article.image != blank %} article-no_image{% endunless %}">
                  <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
                  <div class="article__details">
                    {%- if block.settings.blog_show_author -%}
                      {% if block.settings.author_img %}
                      <div class="{{ block.settings.image_corners }}">  
                          {%- assign image_alt = block.settings.author_img.alt | escape -%}
                          {{ block.settings.author_img | image_url: width: 30, height: 30 | image_tag: alt: image_alt, loading: 'lazy', width: 30, height: 30 }}
                        </div>
                      {% endif %}
                      <span>{{ article.author }}</span>
                    {%- endif -%}
                    {%- if block.settings.blog_show_date and block.settings.blog_show_author -%} | {%- endif -%}
                    {%- if block.settings.blog_show_date -%}
                      <span class="circle-divider caption-with-letter-spacing wb_date" itemprop="dateCreated pubdate datePublished">
                        {{- article.published_at | time_tag: format: 'date' -}}
                      </span>
                    {%- endif -%}
                  </div>
              </div>
            </div>
          {% if block.settings.show_tag %}
            <ul class="article_tags_wrapper">
              {% for tag in article.tags %}
              <li>
                <a class="button" href="{{ blog.url }}/tagged/{{ tag | handle }}">
                  <span title="{{ tag }}">{{ tag }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
          {%- when 'excerpt' -%}
            <div class="excerpt">{{ article.excerpt | strip_html }}</div>
          {%- when 'content' -%}
            <div class="article-template__content rte" itemprop="articleBody" {{ block.shopify_attributes }}>
              {{ article.content }}
            </div>
          {%- when 'share' -%}
            <div class="article-template_author_social">
              {% if block.settings.show_social %}
                <div class="social__items">
                {%- render 'social-icons' -%}
                </div>
              {% endif %}
              <div class="social__items article-template__social-sharing " {{ block.shopify_attributes }}>
                {% assign share_url = request.origin | append: article.url %}
                {% render 'share-button', block: block, share_link: share_url %}
              </div>
            </div>
            {%- when 'articles' -%}
            <div class="previous_next_buttons{% if blog.next_article and blog.previous_article %} justify-space-between{% endif %}{% unless blog.previous_article %} justify-content-start{% endunless %}{% unless blog.next_article %} justify-content-end{% endunless %}">
              {% if blog.next_article %}
                <div class="article">
                  <a href="{{ blog.next_article }}" class="article_arrow justify-content-start">
                    {% if blog.next_article.image != blank %}
                    {%- assign image_alt = blog.next_article.image.alt | escape -%}
                    {{ blog.next_article.image | image_url: width: 80, height: 80 | image_tag: alt: image_alt, loading: 'lazy', width: 80, height: 80 }}
                    {% else %}
                      <div class="article-dummy-image">
                        {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                        {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
                        {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% endif %}
                    <span class="article_arrow_content">  
                      <span class="slider-button--prev left">
                        {% render 'icon-caret' %}
                        {{- 'general.pagination.prev_article' | t -}}
                      </span>
                      <h4 class="left">
                        {{ blog.next_article.title }}
                      </h4>
                    </span>
                    
                  </a>
              </div>
              {% endif %}
              {% if blog.next_article and blog.previous_article %}
                <div>
                  <span class="saprater"></span>
                </div>
              {% endif %}
              {% if blog.previous_article %}
                <div class="article">
                <a href="{{ blog.previous_article }}" class="article_arrow justify-content-end">
                  <span class="article_arrow_content">  
                    <span class="slider-button--next right">
                      {{- 'general.pagination.next_article' | t -}}
                        {% render 'icon-caret' %}
                    </span>
                    <h4 class="right">
                      {{ blog.previous_article.title }}
                    </h4>
                  </span>
                  {% if blog.previous_article.image != blank %}
                     {%- assign image_alt = blog.previous_article.image.alt | escape -%}
                    {{ blog.previous_article.image | image_url: width: 80, height: 80 | image_tag: alt: image_alt, loading: 'lazy', width: 80, height: 80 }}
                  {% else %}
                    <div class="article-dummy-image">
                      {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                      {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
                      {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                  </a>
              </div>
              {% endif %}
            </div> 
        {%- endcase -%}
      {%- endfor -%}
      <div class="article-template__back element-margin-top center">
        <a href="{{ blog.url }}" class="article-template__link link animate-arrow">
          <span class="icon-wrap">{% render 'icon-arrow' %}</span>
          {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
        </a>
      </div>
    </div>
    <div class="secondary-bg-spacing color-{{ section.settings.color_scheme }}">
      {%- if blog.comments_enabled? -%}
        <div class="article-template__comment-wrapper">
          <div id="comments">
            {%- if article.comments_count > 0 -%}
              {%- assign anchorId = '#Comments-' | append: article.id -%}
  
              <h2 id="Comments-{{ article.id }}" tabindex="-1">
                {{ 'blogs.article.comments' | t: count: article.comments_count }}
              </h2>
              {% paginate article.comments by 5 %}
                <div class="article-template__comments">
                  {%- if comment.status == 'pending' and comment.content -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer>
                        <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                      </footer>
                    </article>
                  {%- endif -%}
        
                  {%- for comment in article.comments -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer>
                        <div class="article__details">
                          <div>
                            {% render 'icon--avatar' %}
                            </div>
                              <div class="comment_info">
                                <span>{{ comment.author }}</span>
                                <span class="wb_date" itemprop="dateCreated pubdate datePublished">
                                  {{- comment.created_at | time_tag: format: 'date' -}}
                                </span> 
                              </div>
                        </div>
                      </footer>
                    </article>
                  {%- endfor -%}
                  {% render 'pagination', paginate: paginate, anchor: anchorId %}
                </div>
              {% endpaginate %}
            {%- endif -%}
            {% form 'new_comment', article %}
              {%- liquid
                assign post_message = 'blogs.article.success'
                if blog.moderated? and comment.status == 'unapproved'
                  assign post_message = 'blogs.article.success_moderated'
                endif
              -%}
              <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
              {%- if form.errors -%}
                <div class="form__message" role="alert">
                  <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h3>
                </div>
                <ul class="form-status-list caption-large">
                  {%- for field in form.errors -%}
                    <li>
                      <a href="#CommentForm-{{ field }}" class="link">
                        {%- if form.errors.translated_fields[field] contains 'author' -%}
                          {{ 'blogs.article.name' | t }}
                        {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                          {{ 'blogs.article.message' | t }}
                        {%- else -%}
                          {{ form.errors.translated_fields[field] }}
                        {%- endif -%}
                        {{ form.errors.messages[field] }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- elsif form.posted_successfully? -%}
                <div class="form-status-list form__message" role="status">
                  <h3 class="form-status" tabindex="-1" autofocus>
                    {% render 'icon-success' %}
                    {{ post_message | t }}
                  </h3>
                </div>
              {%- endif -%}
  
              <div
                {% if blog.moderated? == false %}
                  class="article-template__comments-fields"
                {% endif %}
              >
                <div class="article-template__comment-fields">
                  <div class="field field--with-error">
                    <input
                      type="text"
                      name="comment[author]"
                      id="CommentForm-author"
                      class="field__input"
                      autocomplete="name"
                      value="{{ form.author }}"
                      aria-required="true"
                      required
                      {% if form.errors contains 'author' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-author-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.name' | t }}"
                    >
                    <label class="field__label" for="CommentForm-author">
                      {{- 'blogs.article.name' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'author' -%}
                      <small id="CommentForm-author-error">
                        <span class="form__message">
                          {%- render 'icon-error' -%}
                          {{- 'blogs.article.name' | t }}
                          {{ form.errors.messages.author }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                  <div class="field field--with-error">
                    <input
                      type="email"
                      name="comment[email]"
                      pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                      id="CommentForm-email"
                      autocomplete="email"
                      class="field__input"
                      value="{{ form.email }}"
                      autocapitalize="off"
                      aria-required="true"
                      required
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-email-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.email' | t }}"
                    >
                    <label class="field__label" for="CommentForm-email">
                      {{- 'blogs.article.email' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'email' -%}
                      <small id="CommentForm-email-error">
                        <span class="form__message">
                          {%- render 'icon-error' -%}
                          {{- 'blogs.article.email' | t }}
                          {{ form.errors.messages.email }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                </div>
                <div class="field field--with-error">
                  <textarea
                    rows="5"
                    name="comment[body]"
                    id="CommentForm-body"
                    class="text-area field__input"
                    aria-required="true"
                    required
                    {% if form.errors contains 'body' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-body-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.message' | t }}"
                  >{{ form.body }}</textarea>
                  <label class="form__label field__label" for="CommentForm-body">
                    {{- 'blogs.article.message' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                </div>
                {%- if form.errors contains 'body' -%}
                  <small id="CommentForm-body-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- 'blogs.article.message' | t }}
                      {{ form.errors.messages.body }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              {%- if blog.moderated? -%}
                <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
              {%- endif -%}
              <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
            {% endform %}
          </div>
        </div>
      {%- endif -%}
      
    </div>
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-article.settings.overlay_opacity.label",
      "default": 40
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "article_img",
          "label": "t:sections.main-article.blocks.featured_image.settings.article_image.label"
        },
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        },
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "show_tag",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.show_tag.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        },
        {
          "type": "image_picker",
          "id": "author_img",
          "label": "t:sections.main-article.blocks.title.settings.author_img.label"
        },
        {
          "type": "select",
          "id": "image_corners",
          "label": "t:sections.testimonial.settings.image_corners.label",
          "options": [
            {
              "value": "original",
              "label": "t:sections.testimonial.settings.image_corners.options__1.label"
            },
            {
              "value": "circle",
              "label": "t:sections.testimonial.settings.image_corners.options__2.label"
            },
            {
              "value": "rounded",
              "label": "t:sections.testimonial.settings.image_corners.options__3.label"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "excerpt",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "t:sections.main-article.blocks.share.settings.show_social.label",
          "default": true
        }
      ]
    },
    {
      "type": "articles",
      "name": "t:sections.main-article.blocks.articles.name",
      "limit": 1
    }
  ]
}
{% endschema %}
