<link rel="preload" as="style" href="{{ 'component-slider.css' | asset_url }}">
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
<link rel="preload" as="style" href="{{ 'component-slideshow.css' | asset_url }}">
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
{% if section.settings.enbale_bg and section.settings.enbale_contant_bg == false %}
  .wbtestisub .wn_test_wrapper::before{
    content: '';
    background: rgba(var(--color-foreground),0.04);
    position: absolute;
    left: -30px;
    right: -30px;
    top: 0;
    bottom: -30px;
    border-radius: 0 0 var(--text-boxes-radius) var(--text-boxes-radius);
    z-index: -1;
}
.wbtestisub .wn_test_wrapper.auth_top_position::before {
    border-radius: var(--text-boxes-radius) var(--text-boxes-radius) 0 0;
    bottom: 0;
    top: -30px;
}
.wbtestisub .wn_test_wrapper.auth_top_position{
  padding-top: 0px;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}
{% endif %}
.testimonial-{{ section.id }} .quote-wrapper svg{
  fill: {{ section.settings.quote_clr }};
}
.testimonial-{{ section.id }} .testrating svg{
  fill: {{ section.settings.star_ratingclr }};
}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
{% if section.settings.enbale_bg %}
  @media screen and (max-width: 1199px) {
    .wbtestisub .wn_test_wrapper:before {
      left: -20px;
      right: -20px;
      bottom: -20px;
    }
  }
{% endif %}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  {% if section.settings.enbale_bg %}
    .wbtestisub .wn_test_wrapper::before{
      left: -20px;
      right: -20px;
      bottom: -20px;
      border-radius: 0 0 calc(var(--text-boxes-radius) * 1 / 2 - var(--border-width)) calc(var(--text-boxes-radius) * 1 / 2 - var(--border-width));
    }
  {% endif %}
}
{%- endstyle -%}
{%- liquid
    assign show_desktop_slider = false
    if section.settings.enable_desktop_slider
        assign show_desktop_slider = true
    endif
    assign show_mobile_slider = false
    if section.settings.swipe_on_mobile
        assign show_mobile_slider = true
    endif
-%}
<div class="{% unless section.settings.arrow_position == 'inline' %}slider-arrow-{{ section.settings.arrow_style }} {% endunless %}  section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
    <div class="{% unless section.settings.enbale_bg and section.settings.enbale_contant_bg == false %}test-spacing {% endunless %}testimonial testimonial-{{ section.id }}">
      <slider-component class="slider-mobile-gutter {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} {% if show_desktop_slider %} slider-component-desktop{% endif %}"{% if settings.animations_reveal_on_scroll %} data-cascade {% endif %}> 
        {% if section.settings.miniheading != blank or section.settings.title != blank or section.settings.description != blank or show_desktop_slider and section.settings.arrow_position == 'top' %}
          <div class="heading-top page-width {{ section.settings.heading_alignment }}">
            <div class="heading {{ section.settings.heading_alignment }}">
              {%- if section.settings.miniheading != blank -%}
                <span class="{{ section.settings.heading_alignment }}">
                  <span class="offer_pills {% if section.settings.mini_heading_style == 'button' %}offer_pills_button {% elsif section.settings.mini_heading_style == 'outline' %}offer_pills_outline {% else section.settings.mini_heading_style == 'link' %}offer_pills_link {% endif %} rte">
                    {{ section.settings.miniheading }}
                  </span>
                </span>
              {%- endif %}
              {%- if section.settings.title != blank -%}
                <h2 class="{{ section.settings.heading_size }}">
                    {{ section.settings.title }}
                </h2>
              {%- endif %}
              {%- if section.settings.description != blank -%}
                <div class="description {{ section.settings.description_style }} rte">
                  {{ section.settings.description -}}
                </div>
              {%- endif %}
            </div>
            {% if section.settings.arrow_position == 'top' %}
              <div class="wb_button_combo {% unless section.settings.show_view_all %}bcombo_auto{% endunless %}">
                  <div class="wb_home_sbtn slider-buttons no-js-hidden {% unless show_desktop_slider and section.blocks.size > section.settings.columns_desktop %} desktop-arrows-hide {% endunless %}{% if show_desktop_slider and section.blocks.size == 5 and section.settings.columns_desktop == 5 %}desktop-arrows-show{% endif %}{% if section.settings.columns_desktop == 2 %}{% unless section.blocks.size > 2 %} tablet-arrows-hide{% endunless %}{% elsif section.settings.columns_desktop != 1 %}{% unless section.blocks.size > 3 %} tablet-arrows-hide{% endunless %}{% endif %}{% unless show_mobile_slider and section.blocks.size > 1 %} mobile-arrows-hide {% endunless %}">
                    <button
                      type="button"
                      class="slider-button slider-button--prev button"
                      name="previous"
                      aria-label="{{ 'general.slider.previous_slide' | t }}"
                      id="slider-button--prev-{{ section.id }}"
                      aria-controls="slider-button--prev-{{ section.id }}">
                      {% render 'icon-caret' %}
                  </button>
                  <button
                      type="button"
                      class="slider-button slider-button--next button"
                      name="next"
                      aria-label="{{ 'general.slider.next_slide' | t }}"
                      id="slider-button--next-{{ section.id }}"
                      aria-controls="slider-button--next-{{ section.id }}">
                      {% render 'icon-caret' %}
                  </button>
                  </div> 
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="slider-arrow-{{ section.settings.arrow_style }} page-width {% if section.settings.sec_full_width == true %} testi_cont{% endif %}">
          {% if section.settings.arrow_position == 'inline' %}
          <div class="relative">
          {% endif %}
          {% if section.settings.arrow_position == 'inline' %}
            <div class="wb_home_sbtn slider-buttons no-js-hidden {% unless show_desktop_slider and section.blocks.size > section.settings.columns_desktop %} desktop-arrows-hide {% endunless %}{% if show_desktop_slider and section.blocks.size == 5 and section.settings.columns_desktop == 5 %}desktop-arrows-show{% endif %}{% if section.settings.columns_desktop == 2 %}{% unless section.blocks.size > 2 %} tablet-arrows-hide{% endunless %}{% elsif section.settings.columns_desktop != 1 %}{% unless section.blocks.size > 3 %} tablet-arrows-hide{% endunless %}{% endif %}{% unless show_mobile_slider and section.blocks.size > 1 %} mobile-arrows-hide {% endunless %}">
              <button
              type="button"
              class="slider-button-inline slider-button slider-button--prev button"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
              id="slider-button--prev-{{ section.id }}"
              aria-controls="slider-button--prev-{{ section.id }}">
              {% render 'icon-caret' %}
          </button>
            </div>
          {% endif %}
          
          <div class="grid grid--{{ section.settings.columns_desktop }}-col-desktop{% unless section.blocks.size == 1 %}{% if section.settings.columns_desktop > 2 and section.blocks.size > 2 %} grid--3-col-tablet {% else %}{% unless section.settings.columns_desktop == 1 %} grid--2-col-tablet{% endunless %}{% endif %}{% endunless %} grid--1-col-tablet-down  {% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet{% endif %}{% endif %}"
               id="Slider-{{ section.id }}-{{ block.id }}"
               aria-live="polite"
               aria-atomic="true"
               data-autoplay="{{ section.settings.auto_rotate }}"
               data-speed="{{ section.settings.change_slides_speed }}">
               
              {% for block in section.blocks %}
                
                  <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} slideshow__slide grid__item {% if section.settings.swipe_on_mobile %} slider__slide{% endif %}"
                       id="Slide-{{ section.id }}-{{ block.id }}-{{ forloop.index }}"
                          {{ block.shopify_attributes }}
                       role="group"
                       aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                       aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                       tabindex="-1"
                       {% if settings.animations_reveal_on_scroll %} data-cascade style="--animation-order: {{ forloop.index }};" {% endif %}>
                    <div class="wbtestisub_top content-container {% if section.settings.enbale_contant_bg %}content-background{% endif %}">
                      <div class="wbtestisub wbtestisub align-items-{{ section.settings.content_alignment }} {{ section.settings.content_alignment }}">
                          {% if section.settings.enable_quote != blank %}
                            <div class="quote-wrapper">
                              {% render 'icon-quote' %}
                          </div>
                          {% endif %}
                          {% if block.settings.rev_title != blank %}
                              <h3>{{ block.settings.rev_title }}</h3>
                          {% endif %}
                          {% if block.settings.display_review != blank %}
                              <div class="testrating justify-content-{{ section.settings.content_alignment }}">
                                {%- liquid
                                  assign wbtrating = block.settings.star_rating | floor
                                  assign wbratinghalf = block.settings.star_rating | floor | minus: block.settings.star_rating
                                -%}
                                  <span class="review_stars">
                                    {%- for i in (1..wbtrating) -%}
                                        {% render 'icon-star' %}
                                    {%- endfor -%}
                                    {% if wbratinghalf != 0 %}
                                        {% render 'icon-halfstar' %}
                                    {% endif %}
                                  </span>
                                <span class="reviews_text"> {{ block.settings.star_rating }} | {{ 'sections.testimonial.reviews_text' | t }}</span>
                              </div>
                          {% endif %}
                          {% if block.settings.quote != blank %}
                              <div class="description rte {{ section.settings.content_alignment }}">{{ block.settings.quote }}</div>
                          {% endif %}
                          {% if block.settings.image != blank or block.settings.author != blank or block.settings.authorlink != blank %}
                            <div class="wn_test_wrapper{% if section.settings.auth_position == 'top' %} auth_top_position {% endif %}{% if section.settings.auth_direction == 'row' %} justify-content-{{ section.settings.content_alignment }} {% else %} align-items-{{ section.settings.content_alignment }} {% endif %} author-details-{{ section.settings.auth_direction }}">
                              {% if block.settings.image != blank %} 
                                <div class="{{ section.settings.image_corners }} wb_test_imag">
                                   {%- assign image_alt = block.settings.image.alt | escape -%}
                                    {{ block.settings.image | image_url: width: 60, height: 60 | image_tag: loading: 'lazy', width: 60, height: 60, class: 'img-fluid lazyload' }}
                                </div>
                              {% endif %}
                              <div class="wb_authortxt {% if block.settings.image == blank %}{{ section.settings.content_alignment }} {% else %}left {% endif %}rte"> 
                                {% if block.settings.author != blank %}
                                    <strong>{{ block.settings.author }}</strong>
                                {% endif %}
                                {% if block.settings.authorlink != blank %}
                                    <span>{{ block.settings.authorlink }}</span>
                                {% endif %}
                              </div>
                            </div>
                          {% endif %}
                      </div>
                    </div>
                  </div>
              {% endfor %}
          </div>
          {% if section.settings.arrow_position == 'inline' %}
              <div class="wb_home_sbtn slider-buttons no-js-hidden {% unless show_desktop_slider and section.blocks.size > section.settings.columns_desktop %} desktop-arrows-hide {% endunless %}{% if show_desktop_slider and section.blocks.size == 5 and section.settings.columns_desktop == 5 %}desktop-arrows-show{% endif %}{% if section.settings.columns_desktop == 2 %}{% unless section.blocks.size > 2 %} tablet-arrows-hide{% endunless %}{% elsif section.settings.columns_desktop != 1 %}{% unless section.blocks.size > 3 %} tablet-arrows-hide{% endunless %}{% endif %}{% unless show_mobile_slider and section.blocks.size > 1 %} mobile-arrows-hide {% endunless %}">
                <button
                  type="button"
                  class="slider-button-inline slider-button slider-button--next button"
                  name="next"
                  aria-label="{{ 'general.slider.next_slide' | t }}"
                  id="slider-button--next-{{ section.id }}"
                  aria-controls="slider-button--next-{{ section.id }}">
                  {% render 'icon-caret' %}
              </button>
              </div>
          {% endif %}
          {% if section.settings.arrow_position == 'inline' %}
        </div> 
      {% endif %}
        </div>
        {% if section.settings.arrow_position == 'bottom' %}
          <div class="top-spacing wb_home_sbtn slider-buttons button-bottom no-js-hidden {% unless show_desktop_slider and section.blocks.size > section.settings.columns_desktop %} desktop-arrows-hide {% endunless %}{% if show_desktop_slider and section.blocks.size == 5 and section.settings.columns_desktop == 5 %}desktop-arrows-show{% endif %}{% if section.settings.columns_desktop == 2 %}{% unless section.blocks.size > 2 %} tablet-arrows-hide{% endunless %}{% elsif section.settings.columns_desktop != 1 %}{% unless section.blocks.size > 3 %} tablet-arrows-hide{% endunless %}{% endif %}{% unless show_mobile_slider and section.blocks.size > 1 %} mobile-arrows-hide {% endunless %}">
            <button
            type="button"
            class="slider-button slider-button--prev button"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            id="slider-button--prev-{{ section.id }}"
            aria-controls="slider-button--prev-{{ section.id }}">
            {% render 'icon-caret' %}
            </button>
            <button
                type="button"
                class="slider-button slider-button--next button"
                name="next"
                aria-label="{{ 'general.slider.next_slide' | t }}"
                id="slider-button--next-{{ section.id }}"
                aria-controls="slider-button--next-{{ section.id }}">
                {% render 'icon-caret' %}
            </button>
          </div>
        {% endif %}
      </slider-component>
            
    </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonial.name",
  "tag": "section",
  "max_blocks": 9,
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "sec_full_width",
      "label": "t:sections.collection-list.settings.sec_full_width.label",
      "default": true,
      "info": "t:sections.collection-list.settings.sec_full_width.info"
    },
    {
      "type": "inline_richtext",
      "id": "miniheading",
      "label": "t:sections.collection-list.settings.miniheading.label"
    },
    {
      "type": "select",
      "id": "mini_heading_style",
      "options": [
        {
          "value": "button",
          "label": "t:sections.all.mini_heading_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.mini_heading_style.options__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.mini_heading_style.options__3.label"
        }
      ],
      "default": "outline",
      "label": "t:sections.all.mini_heading_style.label"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.featured-collection.settings.title.label",
      "default": "Testimonial"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.collapsible_content.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h0",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.all.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.all.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.all.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.all.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "image_corners",
      "label": "t:sections.testimonial.settings.image_corners.label",
      "options": [
        {
          "value": "original",
          "label": "t:sections.testimonial.settings.image_corners.options__1.label"
        },
        {
          "value": "circle",
          "label": "t:sections.testimonial.settings.image_corners.options__2.label"
        },
        {
          "value": "rounded",
          "label": "t:sections.testimonial.settings.image_corners.options__3.label"
        }
      ],
      "default": "circle"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": true
    },
    {
      "type": "select",
      "id": "arrow_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.arrow_position.options__1.label"
        },
        {
          "value": "inline",
          "label": "t:sections.all.arrow_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.arrow_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.all.arrow_position.label"
    },
    {
      "type": "select",
      "id": "arrow_style",
      "options": [
        {
          "value": "button",
          "label": "t:sections.all.arrow_style.options__1.label"
        },
        {
          "value": "icon",
          "label": "t:sections.all.arrow_style.options__2.label"
        }
      ],
      "default": "button",
      "label": "t:sections.all.arrow_style.label"
    },
    {
      "type": "checkbox",
      "id": "enbale_contant_bg",
      "label": "t:sections.testimonial.blocks.quote.settings.enbale_contant_bg.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_quote",
      "label": "t:sections.testimonial.blocks.quote.settings.enable_quote.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enbale_bg",
      "label": "t:sections.testimonial.blocks.quote.settings.enbale_bg.label",
      "info": "t:sections.testimonial.blocks.quote.settings.enbale_bg.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.testimonial.settings.header__1.content"
    },
    {
      "type": "color",
      "id": "star_ratingclr",
      "label": "t:sections.testimonial.settings.star_ratingclr.label",
      "default": "#ffbb40"
    },
    {
      "type": "color",
      "id": "quote_clr",
      "label": "t:sections.testimonial.settings.quote_clr.label",
      "default": "#FF5942"
    },
    {
      "type": "select",
      "id": "auth_direction",
      "options": [
        {
          "value": "row",
          "label": "t:sections.testimonial.blocks.quote.settings.auth_direction.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.testimonial.blocks.quote.settings.auth_direction.options__2.label"
        }
      ],
      "default": "row",
      "label": "t:sections.testimonial.blocks.quote.settings.auth_direction.label"
    },
    {
      "type": "select",
      "id": "auth_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.arrow_position.options__1.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.arrow_position.options__3.label"
        }
      ],
      "default": "bottom",
      "label": "t:sections.testimonial.blocks.quote.settings.auth_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.collapsible_content.settings.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "t:sections.testimonial.blocks.quote.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "rev_title",
          "label": "t:sections.testimonial.blocks.quote.settings.rev_title.label",
          "default": "Review title"
        },
        {
          "type": "header",
          "content": "t:sections.testimonial.blocks.quote.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "display_review",
          "label": "t:sections.testimonial.blocks.quote.settings.display_review.label",
          "default": true
        },
        {
          "type": "range",
          "id": "star_rating",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "label": "t:sections.testimonial.blocks.quote.settings.star_rating.label",
          "default": 5
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "t:sections.testimonial.blocks.quote.settings.quote.label",
          "default": "<p>Add customer reviews and testimonials to showcase your store's happy customers.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonial.blocks.quote.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "author",
          "label": "t:sections.testimonial.blocks.quote.settings.author.label",
          "default": "Author name"
        },
        {
          "type": "inline_richtext",
          "id": "authorlink",
          "label": "t:sections.testimonial.blocks.quote.settings.quote.label",
          "default": "@name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonial.name",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}